<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">Reportes</h1>
        {{mes}}
        <v-container>
            <v-subheader>Reportes de las causas penales</v-subheader>
            <v-divider></v-divider>
            <v-row>
                <v-col :span="2">
                    <v-expansion-panels>
                        <v-expansion-panel>
                        <v-expansion-panel-header>Filtro por fecha</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row>
                                <v-col>
                                    <v-date-picker locale="es" :landscape="true" v-model="mes" type="month" color="green lighten-1"></v-date-picker>

                                </v-col>
                                <v-col>
                                    <v-btn
                                    style="color: white"
                                        color="green"
                                        class="mr-4"
                                        block
                                        @click="setFecha()"
                                    >
                                        Buscar
                                    </v-btn>
                                </v-col>
                            </v-row>
                        
                        </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                    
                </v-col>
                <v-col :span="2">
                    <v-card>
                        <v-card-title>
                        AGENCIA DEL MINISTERIO PÚBLICO ADSCRITA AL #JUZGADO 
                        <v-spacer></v-spacer>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Buscar"
                            single-line
                            hide-details
                        ></v-text-field>
                        </v-card-title>
                        <v-data-table
                            :search="search"
                            :headers="headers"
                            :items="causas_penales"
                            :items-per-page="10"
                            :custom-filter="customFilter"
                            class="elevation-1"
                        >
                        </v-data-table>
                    </v-card>
                </v-col>
            </v-row>
            
        </v-container>    
    </div>
</template>

<script>
import requests from '../requests';
export default {

    created(){
        
    },
    data(){
        return {
            causas_penales: [],
            search: '',
            mes: null,
            headers: [
                {
                    text: 'CAUSA PENAL Y AV. PREVIA',
                    value: 'cp_avp'
                },
                {
                    text: 'INCULPADO',
                    value: 'Inculpado'
                },
                {
                    text: 'DELITO',
                    value: 'DelitoDescripcion'
                },
                {
                    text: 'AGRAVIADO',
                    value: 'Agraviado'
                },
                {
                    text: 'AUTO QUE RESUELVE EL EJERCICIO DE LA ACCIÓN PENAL *ESPECIFICAR O/A LIBRADA - FECHA TRANSCRIPCIÓN O/A NEGADA',
                    value: 'OdaFechaTranscripcionOrden'
                },
                {
                    text: 'ORDEN DE REAPREHENSIÓN',
                    value: 'OdaTipoOrdenDescripcion'
                },
                {
                    text: 'ORDEN DE REAPREHENSIÓN Ó REAPREHENSIÓN EJECUTADA *ESPECIFICAR ',
                    value: ''
                },
                {
                    text: 'ORDEN DE APREHENSIÓN Ó REAPREHENSIÓN CANCELADA *ESPECIFICAR MOTIVO (COMPARECENCIA OTORGAMIENTO DE PERDÓN Y OTROS)',
                    value: 'DelitoTipoOrdenDescripcion'
                },
                {
                    text: 'AUTO DE PLAZA CONSTITUCIONAL Y VÍA DE PROCESO *ESPECIFICAR AUTO DE FORMAL PRISIÓN / AUTO DE LIBERTAD',
                    value: ''
                },
                {
                    text: 'INCIDENTES *ESPECIFICAR',
                    value: 'incidentes'
                },
                {
                    text: 'OBSERVACIONES',
                    value: 'RecursoObservacion'
                },
            ]
        }
    },
    methods:{
        setFecha(){ 
            if(this.mes != null){
                var date = this.mes.toString().split('-');
                requests.getCausasPenalesR1(this.Usuario, date[0], date[1])
                    .then(res => {
                            this.causas_penales = res.data.rows.map(x => {
                                return {
                                    ...x,
                                    cp_avp: x.CausaPenalAveriguacionPrevia + ' ' + x.CausaPenalDescripcion,
                                    Inculpado: x.InculpadoNombre + ' ' + x.InculpadoApPaterno + ' ' + x.InculpadoApMaterno,
                                    Agraviado: x.AgraviadoNombre + ' ' + x.AgraviadoApPaterno + ' ' + x.AgraviadoApMaterno,
                                }
                            });
                        });
            }
        }
    },
    computed: {
        Usuario(){
            return this.$store.state.Usuario;
        }
    }
}
</script>