<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">{{ title }}</h1>

        <v-container>
            <h2 color="primary">Causa penal</h2>
            <v-divider></v-divider>
            <v-form
                    ref="form"
                    :lazy-validation="true"
                >
            <v-row>
            <!-- <v-col cols="12" v-if="accion=='editar'">
                <v-row>
                    <v-col cols="4" sm="12" md="4">
                    <v-text-field disabled v-model="CausaPenalData.CausaPenalIdGenerado" label="ID General" required></v-text-field>
                </v-col>
                <v-col cols="4" sm="12" md="4">
                    <v-text-field disabled v-model="CausaPenalData.CausaPenalFolio" label="Folio" required></v-text-field>
                </v-col>
                <v-col cols="4" sm="12" md="4">
                    <v-text-field disabled v-model="CausaPenalData.CausaPenalAnio" label="Año" required></v-text-field>
                </v-col>
                </v-row>
                
            </v-col> -->
            <v-col cols="12" sm="12" md="12">
                <v-text-field  :rules="[v => !!v || 'Campo requerido']" v-model="CausaPenalData.CausaPenalAveriguacionPrevia" label="Averiguacion Previa*" required></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="12">
                <v-text-field  :rules="[v => !!v || 'Campo requerido']" v-model="CausaPenalData.CausaPenalPedimentoPenal" label="Pedimiento Penal*"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="12">
                <v-text-field :rules="[v => !!v || 'Campo requerido']" v-model="CausaPenalData.CausaPenalDescripcion" label="Causa penal*"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select
                :rules="[v => !!v || 'Campo requerido']"
                v-model="CausaPenalData.CausaPenalDetenido"
                :items="['SI', 'NO']"
                label="¿Detenido?*"
                required
                ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select
                    :rules="[v => !!v || 'Campo requerido']"
                    v-model="CausaPenalData.JuzgadoId"
                    :items="juzgados"
                    label="Seleccione el juzgado*"
                    >
                </v-select>
            </v-col>
        
            
            </v-row>
            <v-row>
                <v-btn
                color="secondary"
                class="mr-4"

                block
                @click="submit()"
                >
                    {{textButton}}
                </v-btn>
            </v-row>
            </v-form>
        </v-container>
    </div>
</template>
<script>
import requests from '../requests';

export default {
    data(){
        return {
            CausaPenalData: {
                CausaPenalAveriguacionPrevia: 'Por borracho',
                CausaPenalPedimentoPenal: 'Sitado a juzgado',
                CausaPenalDescripcion: 'Lo agarraron borracho en el huacapa',
                CausaPenalDetenido: 'SI',
                JuzgadoId: null
            },
            juzgados: [],
        }
    },
    created(){
        requests.getJuzgados(this.Usuario)
            .then(res => {
                this.juzgados = res.data.juzgados.map(x => {
                    return {
                        text: x.JuzgadoDescripcion,
                        value: x.JuzgadoId
                    }
                });
            });
        
        if(this.accion == 'editar'){
            
            requests.getCausaPenalById(this.Usuario,this.CausaPenalId)
                .then(res => {
                    //console.log(res.data)
                    this.CausaPenalData = {
                        CausaPenalIdGenerado: res.data.CausaPenalIdGenerado,
                        CausaPenalFolio: res.data.CausaPenalFolio,
                        CausaPenalAnio: res.data.CausaPenalAnio,
                        CausaPenalId: res.data.CausaPenalId,
                        CausaPenalAveriguacionPrevia: res.data.CausaPenalAveriguacionPrevia,
                        CausaPenalPedimentoPenal: res.data.CausaPenalPedimentoPenal,
                        CausaPenalDescripcion: res.data.CausaPenalDescripcion,
                        CausaPenalDetenido: res.data.CausaPenalDetenido,
                        JuzgadoId: res.data.JuzgadoId
                    }
                })
            //console.log(this.CausaPenalData)
        }
    },
    methods: {
        letters(event){
            window.console.log("alv")
            var charCode = event.keyCode;
            if (charCode > 31 && (charCode < 65 || charCode > 90) &&
          (charCode < 97 || charCode > 122)) {
                event.preventDefault();
            }
            
        },
        submit(){
            if(this.accion == 'agregar'){
                
                requests.agregarCausaPenal(this.Usuario, this.CausaPenalData)
                    .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al agregar causa penal"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Causa penal agregada correctamente'});
                            this.$router.push({path: `/causas_penales/${res.data.CausaPenalId}/registrar_actores`});
                        }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
            else if(this.accion == 'editar'){
                requests.actualizaCausaPenal(this.Usuario, this.CausaPenalData)
                    .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar Causa penal"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.dialog = false;
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Causa penal actualizada correctamente'});
                            this.$router.push({path: '/causas_penales/'+this.CausaPenalId+'/registrar_delitos/editar'});
                        }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
        }
    },
    computed: {
        accion(){
            return this.$route.params.accion;
        },
        CausaPenalId(){
            return this.$route.params.id
            
        },
        Usuario(){
            return this.$store.state.Usuario;
        },
        title(){
            return this.$route.params.accion == 'agregar' ? 'Agregar causa penal' : 'Editar causa penal';
        },
        textButton(){
            return this.$route.params.accion == 'agregar' ? 'Agregar causa penal' : 'Actualizar causa penal';
        }
    }
}
</script>