<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">{{ title }}</h1>

        <v-container>
            <v-form
                    ref="form"
                    :lazy-validation="true"
                >
            <v-row>
            <v-col cols="12" sm="6" md="4">
                <v-text-field type="text" @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="UsuarioData.UsuarioNombre" label="Nombre*" required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
                <v-text-field @keypress="letters($event)"  :rules="[v => !!v || 'Campo requerido']" v-model="UsuarioData.UsuarioApPaterno" label="Apellido paterno*"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
                <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="UsuarioData.UsuarioApMaterno" label="Apellido materno*"></v-text-field>
            </v-col>
            <v-col cols="12">
                <v-text-field  :rules="[v => !!v || 'Campo requerido']" v-model="UsuarioData.UsuarioNick" label="Usuario*" required></v-text-field>
            </v-col>
            <v-col cols="12">
                <v-text-field :rules="[v => !!v || 'Campo requerido']" v-model="UsuarioData.UsuarioContrasenia" label="Contrasenia*" type="password" required></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select
                :rules="[v => !!v || 'Campo requerido']"
                v-model="UsuarioData.UsuarioEstatus"
                :items="['Activo', 'Inactivo']"
                label="Activo*"
                required
                ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
            <v-select
            :rules="[v => !!v || 'Campo requerido']"
                    v-model="UsuarioData.RolId"
                    :items="roles"
                    label="Seleccione un rol*"
                    >
                </v-select>
            </v-col>
            <v-col cols="12" sm="6">
            <v-select
            :rules="[v => !!v || 'Campo requerido']"
                    v-model="UsuarioData.DepartamentoId"
                    :items="deptos"
                    label="Seleccione un departamento*"
                    >
                </v-select>
            </v-col>
            <v-btn
                color="secondary"
                class="mr-4"

                block
                @click="submit()"
                >
                    {{textButton}}
                </v-btn>
            </v-row>
            </v-form>
        </v-container>
    </div>
</template>
<script>
import requests from '../requests';

export default {
    data(){
        return {
            UsuarioData: {
                UsuarioEstatus: 'Activo',
                UsuarioNick: 'fblanco',
                UsuarioContrasenia: '123',
                UsuarioNombre: 'Francisco',
                UsuarioApPaterno: 'Blanco', 
                UsuarioApMaterno: 'Blanco', 
                DepartamentoId: '',
                RolId: ''
            },
            deptos: [],
            roles: [],
        }
    },
    created(){
        requests.getDeptosRoles(this.Usuario)
            .then(res => {
                this.deptos = res.data.departamentos.map(x => {
                    return {
                        text: x.DepartamentoNombre,
                        value: x.DepartamentoId
                    }
                });
                this.roles = res.data.roles.map(x => {
                    return {
                        text: x.RolDescripcion,
                        value: x.RolId
                    }
                });
            });
        
        if(this.accion == 'editar'){
            
            requests.getUsuarioById(this.Usuario,this.UsuarioId)
                .then(res => {
                    //window.console.log(res);
                    this.UsuarioData = {
                        UsuarioEstatus: res.data.UsuarioEstatus,
                        UsuarioNick: res.data.UsuarioNick,
                        UsuarioContrasenia: res.data.UsuarioContrasenia,
                        UsuarioNombre: res.data.UsuarioNombre,
                        UsuarioApPaterno: res.data.UsuarioApPaterno, 
                        UsuarioApMaterno: res.data.UsuarioApMaterno, 
                        DepartamentoId: res.data.DepartamentoId,
                        RolId: res.data.RolId
                    }
                })
        }
    },
    methods: {
        letters(event){
            //window.console.log("alv")
            var charCode = event.keyCode;
            if (charCode > 31 && (charCode < 65 || charCode > 90) &&
          (charCode < 97 || charCode > 122)) {
                event.preventDefault();
            }
            
        },
        submit(){
            if(this.accion == 'agregar'){
                
                requests.agregaUsuario(this.Usuario, this.UsuarioData)
                    .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al agregar usuario"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.dialog = false;
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Empleado agregado correctamente'});
                            this.$router.push({path: '/usuarios/'});
                        }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
            else if(this.accion == 'editar'){
                this.UsuarioData["UsuarioId"] = this.UsuarioId; 
                requests.actualizarUsuario(this.Usuario, this.UsuarioData)
                    .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar usuario"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.dialog = false;
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Empleado actualziado correctamente'});
                            this.$router.push({path: '/usuarios/'});
                        }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
        }
    },
    computed: {
        accion(){
            return this.$route.params.accion;
        },
        UsuarioId(){
            return this.$route.params.id
            
        },
        Usuario(){
            return this.$store.state.Usuario;
        },
        title(){
            return this.$route.params.accion == 'agregar' ? 'Agregar usuario' : 'Editar usuario';
        },
        textButton(){
            return this.$route.params.accion == 'agregar' ? 'Agregar usuario' : 'Actualizar usuario';
        }
    }
}
</script>