<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">Agregar actores inculpados de la causa penal</h1>    
        <v-container>

            <v-form
                    ref="form"
                    :lazy-validation="true"
                >
            <h2 color="primary">Datos del inculpado</h2>
            <v-divider></v-divider>
            <v-row>
                <v-col cols="12" sm="6" >
                    <v-select
                    :rules="[v => !!v || 'Campo requerido']"
                    v-model="Actor.ActorDetenido"
                    :items="['SI', 'NO']"
                    label="Detenido*"
                    required
                    ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorNombre" label="Nombre*" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApPaterno" label="Apellido paterno*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApMaterno" label="Apellido materno*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-select
                        :rules="[v => !!v || 'Campo requerido']"
                        v-model="Actor.ActorSexo"
                        :items="['MASCULINO', 'FEMENINO']"
                        label="Sexo*"
                        required
                    ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                        :rules="[v => !!v || 'Campo requerido']"
                            v-model="Actor.ActorFechaNacimiento"
                            label="Birthday date"
                            prepend-icon="mdi-calendar-check"
                            readonly
                            v-on="on"
                            ></v-text-field>
                            </template>
                            <v-date-picker
                                ref="picker"
                                v-model="Actor.ActorFechaNacimiento"
                                :max="new Date().toISOString().substr(0, 10)"
                                min="1950-01-01"
                                @change="save"
                            ></v-date-picker>
                    </v-menu>
                </v-col>
            </v-row>
            
            <v-subheader>Datos del domicilio</v-subheader>
            <v-divider></v-divider>
            <v-row>
                <v-col cols="12" sm="12" md="6">
                    <v-text-field v-model="Actor.ActorCalle" label="Calle*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="3">
                    <v-text-field v-model="Actor.ActorNumExterior" label="Numero exterior*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="3">
                    <v-text-field v-model="Actor.ActorNumInterior" label="Numero interior*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-text-field v-model="Actor.ActorLatitud" label="Latitud*"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-text-field v-model="Actor.ActorLongitud" label="Longitud*"></v-text-field>
                </v-col>
            </v-row>
            <div style="margin: none; padding:none;">
                <v-subheader>Delitos del actor</v-subheader>
                <v-divider></v-divider>
                <v-row>
                    <v-col cols="12" sm="12" md="6">
                        <v-combobox
                            :rules="[v => !!v || 'Campo requerido']"
                            v-model="Actor.delitos"
                            :items="catDelitos"
                            label="Delitos cometidos por el actor"
                            :small-chips="true"
                            multiple
                            outlined
                            ></v-combobox>
                    </v-col>
                </v-row>
            </div>
            <v-btn

                color="secondary"
                class="mr-4"
                block
                @click="submit()"
            >
                Agregar actor
            </v-btn>
            <v-dialog v-model="dialog" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Agregar mas inculpados</v-card-title>
                    <v-card-text>
                        ¿Desea agregar más inculpados a la causa penal?
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="next();" >No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog=false">Si</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            </v-form>
        </v-container>
    </div>
</template>

<script>
import requests from '../requests';
export default {
    created(){
        requests.getTiposActor(this.Usuario)
            .then(res => {
                this.catTipoActor = res.data.CatTipoActor.map(x => {
                    return {
                        text: x.TipoActorDescripcion,
                        value: x.TipoActorId
                    }
                });
            });
        requests.getCatDelitos(this.Usuario)
            .then(res => {
                this.catDelitos = res.data.CatDelitos.map(x => {
                    return {
                        text: x.DelitoDescripcion,
                        value: x.DelitoId
                    }
                });
            });
    },
    data(){

        return {
            dialog: false,
            catDelitos: [],
            menu: false,
            
            catTipoActor: [],
            Actor :{
                ActorDetenido: 'NO',
                ActorNombre: 'Felix',
                ActorApPaterno: 'Gallardo',
                ActorApMaterno: 'Mejia',
                ActorSexo: 'MASCULINO',
                ActorFechaNacimiento: '1995-06-06',
                ActorCalle: 'Por ahi',
                ActorNumExterior: '5',
                ActorNumInterior: '6',
                ActorLatitud: '+1231231',
                ActorLongitud: '+-232132',
                delitos: []
            }
        }
    },
    computed: {
        Usuario(){
            return this.$store.state.Usuario;
        },
        CausaPenalId(){
            return this.$route.params.id   
        }
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },
    methods: {
        letters(event){
            //window.console.log("alv")
            var charCode = event.keyCode;
            if (charCode > 31 && (charCode < 65 || charCode > 90) &&
          (charCode < 97 || charCode > 122)) {
                event.preventDefault();
            }
            
        },
      save (date) {
        this.$refs.menu.save(date)
      },
      next(){
        this.$router.push({path: `/causas_penales/${this.CausaPenalId}/registrar_delitos`});
      },
      clearFields(){
          this.Actor = {
                TipoActor: '',
                ActorDetenido: 'NO',
                ActorNombre: '',
                ActorApPaterno: '',
                ActorApMaterno: '',
                ActorSexo: '',
                ActorFechaNacimiento: '',
                ActorCalle: '',
                ActorNumExterior: '',
                ActorNumInterior: '',
                ActorLatitud: '',
                ActorLongitud: '',
                delitos: []
            }
      },
      submit(){
          requests.agregarActorACausaPenal(this.Usuario, this.Actor, this.CausaPenalId)
                .then(res => {
                    if(res.data === undefined) {
                        this.$store.dispatch('showAlert', {text: "Error al agregar actor a la causa penal"});
                        return;
                    }
                    
                    if(res.data.status == 'success'){
                        this.$store.dispatch('showAlert', {color: 'primary',text: 'Actor agregado correctamente'});
                        this.clearFields();
                        this.dialog = true;
                        //this.$router.push({path: `/causas_penales/${res.data.CausaPenalId}/registrar_actores`});
                    }
                }).catch(err => {
                    this.$store.dispatch('showAlert', {text: err});
                })
      }
    },
    
}
</script>