<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">Detalle de delitos de la causa penal</h1>
         <v-btn style="margin-bottom:2em;margin-top:2em;"  outlined :text="true" color="green" @click="setAgraviados()">
            <v-icon left>mdi-account-plus</v-icon> Agregar agraviado
        </v-btn>
        <v-card>
            
            <v-card-title>
            Inculpados de la causa penal
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
                <v-data-table
                    :search="search"
                    :headers="headers"
                    :items="ActoresCausaPenal"
                    :items-per-page="20"
                    class="elevation-1"
                >
                    <template v-slot:item.inculpado="{ item }">
                        <div style="margin-bottom: 0px;">
                            <p>
                            {{item.InculpadoNombre}} {{item.InculpadoApPaterno}} {{item.InculpadoApMaterno}}  <v-icon v-if="accion=='editar'" @click="setActor(item,'inculpado');" color="primary" >mdi-autorenew</v-icon>
                            </p>
                        </div>
                    </template>
                    <template v-slot:item.DelitoDescripcion="{ item }">

                        {{item.DelitoDescripcion}}
                    </template>
                    
                    <template v-slot:item.agraviado="{ item }">
                        <div style="margin-bottom: 0px;" v-if="item.AgraviadoId!=null">
                            <p>
                            {{item.AgraviadoNombre}} {{item.AgraviadoApPaterno}} {{item.AgraviadoApMaterno}}  <v-icon v-if="accion=='editar'" @click="setActor(item,'agraviado');" color="primary" >mdi-autorenew</v-icon>
                            </p>
                        </div>
                    </template>
                    <template v-slot:item.action="{ item }">
                            <div v-if="item.AgraviadoId!=null">
                                <div v-if="item.SituacionJuridicaId==null">
                                    <v-btn :text="true" color="primary" @click="setDelito(item)">
                                        <v-icon left>mdi-pencil</v-icon> Registrar datos
                                    </v-btn>
                                </div>
                                <div v-else>
                                    <v-btn :hidden="accion!='editar'" :text="true" color="primary" @click="setDelito(item)">
                                        <v-icon left>mdi-pencil</v-icon> Editar datos delito
                                    </v-btn>
                                    <v-divider :vertical="true"></v-divider>
                                    <v-btn  :disabled="accion!='editar' && item.SentenciaId != null "  :text="true" color="primary" @click="setSentencia(item)">
                                        <v-icon v-if="item.SentenciaId==null"  left>mdi-plus</v-icon>
                                        <v-icon v-else left>mdi-pencil</v-icon> Sentencia
                                    </v-btn>
                                    <v-divider vertical dark></v-divider>
                                    <v-btn  :disabled="accion!='editar'  && item.OdaId != null"  :text="true" color="primary" @click="setOda(item)">
                                        <v-icon v-if="item.OdaId==null"  left>mdi-plus</v-icon>
                                        <v-icon v-else left>mdi-pencil</v-icon> Orden de aprensión
                                    </v-btn>
                                    <v-divider :vertical="true"></v-divider>
                                    <v-btn :disabled="accion!='editar' && item.RecursoId != null"    :text="true" color="primary" @click="setRecurso(item)">
                                        <v-icon v-if="item.RecursoId==null"  left>mdi-plus</v-icon>
                                        <v-icon v-else left>mdi-pencil</v-icon>  Recursos
                                    </v-btn>
                                </div>
                            </div>
                            <div v-else>
                                <v-alert
                                    dense
                                    outlined
                                    type="error"
                                    >
                                    Debe registrar al actor agraviado
                                </v-alert>
                            </div>
                    </template>
                </v-data-table>
        </v-card>
        <v-dialog v-model="dialogAgraviados" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogAgraviados = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>AGREGAR DE AGRAVIADO DEL DELITO</v-toolbar-title>
                </v-toolbar>
                <v-container>
                    <v-form
                    ref="form1"
                    :lazy-validation="true"
                >
                    <v-row>
                        
                        <v-col :span="4">
                            <h2>Datos inculpado y delito</h2>
                            <v-divider></v-divider>

                            <v-select
                            :rules="[v => !!v || 'Campo requerido']"
                            v-model="iDelitoCausaPenalId"
                            :items="iDelitos"
                            label="Seleccione el inculpado y el delito"
                            ></v-select>
                        </v-col>
                        <v-col :span="8" color="primary">
                            
                            <h2>Datos del agraviado</h2>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="12">
                                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorNombre" label="Nombre*" required></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApPaterno" label="Apellido paterno*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field  @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApMaterno" label="Apellido materno*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-select
                                    :rules="[v => !!v || 'Campo requerido']"
                                        v-model="Actor.ActorSexo"
                                        :items="['MASCULINO', 'FEMENINO']"
                                        label="Sexo*"
                                        required
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-menu
                                        ref="menu"
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                        <v-text-field
                                        :rules="[v => !!v || 'Campo requerido']"
                                            v-model="Actor.ActorFechaNacimiento"
                                            label="Birthday date"
                                            prepend-icon="mdi-calendar-check"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                ref="picker"
                                                v-model="Actor.ActorFechaNacimiento"
                                                :max="new Date().toISOString().substr(0, 10)"
                                                min="1950-01-01"
                                                @change="save"
                                            ></v-date-picker>
                                    </v-menu>
                                </v-col>
                            </v-row>
                            
                            <v-subheader>Datos del domicilio</v-subheader>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field  v-model="Actor.ActorCalle" label="Calle*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="3">
                                    <v-text-field v-model="Actor.ActorNumExterior" label="Numero exterior*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="3">
                                    <v-text-field v-model="Actor.ActorNumInterior" label="Numero interior*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field v-model="Actor.ActorLatitud" label="Latitud*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field v-model="Actor.ActorLongitud" label="Longitud*"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-btn

                                color="secondary"
                                class="mr-4"
                                block
                                @click="submit()"
                            >
                                Agregar agraviado
                            </v-btn>
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogActor" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogActor = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>EDITAR ACTOR</v-toolbar-title>
                </v-toolbar>
                <v-container>
                     <v-form
                    ref="form2"
                    :lazy-validation="true"
                >
                    <v-row>
                        <v-col  color="primary">
                            <v-subheader>Datos del actor</v-subheader>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="6" v-if="Actor.ActorDetenido != null">
                                    <v-select
                                    :rules="[v => !!v || 'Campo requerido']"
                                    v-model="Actor.ActorDetenido"
                                    :items="['SI', 'NO']"
                                    label="Detenido*"
                                    required
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="12">
                                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorNombre" label="Nombre*" required></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApPaterno" label="Apellido paterno*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field @keypress="letters($event)" :rules="[v => !!v || 'Campo requerido']" v-model="Actor.ActorApMaterno" label="Apellido materno*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-select
                                        :rules="[v => !!v || 'Campo requerido']"
                                        v-model="Actor.ActorSexo"
                                        :items="['Masculino', 'Femenino']"
                                        label="Sexo*"
                                        required
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-menu
                                        ref="menu"
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                        <v-text-field
                                            :rules="[v => !!v || 'Campo requerido']"
                                            v-model="Actor.ActorFechaNacimiento"
                                            label="Birthday date"
                                            prepend-icon="mdi-calendar-check"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                ref="picker"
                                                v-model="Actor.ActorFechaNacimiento"
                                                :max="new Date().toISOString().substr(0, 10)"
                                                min="1950-01-01"
                                                @change="save"
                                            ></v-date-picker>
                                    </v-menu>
                                </v-col>
                            </v-row>
                            
                            <v-subheader>Datos del domicilio</v-subheader>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field v-model="Actor.ActorCalle" label="Calle*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="3">
                                    <v-text-field v-model="Actor.ActorNumExterior" label="Numero exterior*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="3">
                                    <v-text-field v-model="Actor.ActorNumInterior" label="Numero interior*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field v-model="Actor.ActorLatitud" label="Latitud*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field v-model="Actor.ActorLongitud" label="Longitud*"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-btn

                                color="secondary"
                                class="mr-4"
                                block
                                @click="guardarActor()"
                            >
                                Guardar
                            </v-btn>
                        </v-col>
                    </v-row>
                     </v-form>
                </v-container>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelito" :origin="'right center'" hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogDelito = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>REGISTRO DE DATOS DEL DELITO</v-toolbar-title>
                </v-toolbar>
                <v-container>
                    <v-form
                    ref="form3"
                    :lazy-validation="true"
                >
                    <v-row>
                        <v-col  color="primary">
                            <h3>Datos del delito</h3>
                            <v-subheader></v-subheader>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  name="input-7-1" v-model="Delito.Motivo" label="Motivo del delito*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Delito.Incidentes" label="Incidentes del delito*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-select
                                        v-model="Delito.SituacionJuridicaId"
                                        :items="CatSituacionJuridica"
                                        label="Seleccione la situación juridica*"
                                        >
                                    </v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-menu
                                        ref="menu"
                                        v-model="menuDelito"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-model="Delito.FechaSituacionJuridica"
                                            label="Fecha de la situación juridica"
                                            prepend-icon="mdi-calendar-check"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                ref="picker"
                                                v-model="Delito.FechaSituacionJuridica"
                                                :max="new Date().toISOString().substr(0, 10)"
                                                min="1950-01-01"
                                                @change="save"
                                            ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" sm="6">
                                <v-select
                                        v-model="Delito.TipoOrdenId"
                                        :items="CatTipoOrden"
                                        label="Seleccione el tipo de orden*"
                                        >
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-btn

                                color="secondary"
                                class="mr-4"
                                block
                                @click="guardarDelito()"
                            >
                                Guardar
                            </v-btn>
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogSentencia" :origin="'right center'" hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogSentencia = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>REGISTRO DE LA SENTENCIA DEL DELITO</v-toolbar-title>
                </v-toolbar>
                <v-container>
                    <v-form
                    ref="form4"
                    :lazy-validation="true"
                    >
                    <v-row>
                        <v-col  color="primary">
                            <h2>Datos de la sentencia</h2>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="6">
                                    <v-menu
                                        ref="menu"
                                        v-model="menuSentencia"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-model="Sentencia.SentenciaFecha"
                                            label="Fecha de la sentencia"
                                            prepend-icon="mdi-calendar-check"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                ref="picker"
                                                v-model="Sentencia.SentenciaFecha"
                                                :max="new Date().toISOString().substr(0, 10)"
                                                min="1950-01-01"
                                                @change="save"
                                            ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" sm="6">
                                    <v-select
                                        v-model="Sentencia.CatSentenciaId"
                                        :items="CatSentencias"
                                        label="Seleccione el tipo de sentencia*"
                                        >
                                    </v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-text-field type="number" name="input-7-1"  v-model="Sentencia.SentenciaInhabilitacion" label="Inhabilitación*"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Sentencia.SentenciaTmpInhabilitacion" label="Tiempo de inhabilitación*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Sentencia.SentenciaPenalidad" label="Penalidad*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Sentencia.SentenciaReparacionDanio" label="Reparación de daño*"></v-textarea>
                                </v-col>
                            </v-row>
                            <v-btn

                                color="secondary"
                                class="mr-4"
                                block
                                @click="guardarSentencia()"
                            >
                                Guardar
                            </v-btn>
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogRecurso" :origin="'right center'" hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogRecurso = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>REGISTRO DEL RECURSO DEL DELITO</v-toolbar-title>
                </v-toolbar>
                <v-container>
                    <v-form
                    ref="form5"
                    :lazy-validation="true"
                >
                    <v-row>
                        <v-col  color="primary">
                            <h2>Datos del recurso</h2>
                            <v-divider></v-divider>
                            <v-row>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Recurso.RecursoOfrecimientoPruebas" label="Ofrecimiento de pruebas*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Recurso.RecursoCierreAudiencia" label="Cierre de audiencia*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Recurso.RecursoApelacion" label="Apelación*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Recurso.RecursoExtensionPenal" label="Extensión penal*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea v-model="Recurso.RecursoSobreseimiento" label="Sobreseimiento*"></v-textarea>
                                </v-col>
                                <v-col cols="12" sm="12" md="6">
                                    <v-textarea  v-model="Recurso.RecursoObservacion" label="Observación"></v-textarea>
                                </v-col>
                            </v-row>
                            <v-btn

                                color="secondary"
                                class="mr-4"
                                block
                                @click="guardarRecurso()"
                            >
                                Guardar
                            </v-btn>
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogOda" fullscreen :origin="'right center'" hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialogOda = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>REGISTRO DE LA ORDEN DE APREHENSIÓN</v-toolbar-title>
                </v-toolbar>
                <v-form
                    ref="form6"
                    :lazy-validation="true"
                >
                <v-container>
                    <h2>Datos de la orden de aprehención</h2>
                    <v-divider></v-divider>

                    <v-row>
                        <v-col offset-md="6" cols="12" sm="12" md="6">
                            <v-select
                                v-model="Oda.TipoOrdenId"
                                :items="CatTipoOrden"
                                label="Seleccione el tipo de orden*"
                                >
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-menu
                                ref="menu"
                                v-model="menuOrdenLiberada"
                                :close-on-content-click="false"
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="Oda.OdaFechaOrdenLibrada"
                                    label="Fecha orden librada"
                                    prepend-icon="mdi-calendar-check"
                                    readonly
                                    v-on="on"
                                    ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        ref="picker"
                                        v-model="Oda.OdaFechaOrdenLibrada"
                                        :max="new Date().toISOString().substr(0, 10)"
                                        min="1950-01-01"
                                        @change="save"
                                    ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field :rules="[v => !!v || 'Campo requerido']" v-model="Oda.OdaNumOfcOrdenLibrada" label="Numero de oficio orden librada*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-menu
                                ref="menu"
                                v-model="menuTranscripcionOrden"
                                :close-on-content-click="false"
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="Oda.OdaFechaTranscripcionOrden"
                                    label="Fecha transcripción orden"
                                    prepend-icon="mdi-calendar-check"
                                    readonly
                                    v-on="on"
                                    ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        ref="picker"
                                        v-model="Oda.OdaFechaTranscripcionOrden"
                                        :max="new Date().toISOString().substr(0, 10)"
                                        min="1950-01-01"
                                        @change="save"
                                    ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field  v-model="Oda.OdaNumOfcTranscripcionOrden" label="Numero de oficio transcripción orden*"></v-text-field>
                        </v-col>
                        
                    </v-row>
                    <v-subheader>Datos del lugar de aprehensión</v-subheader>
                    <v-divider></v-divider>
                    <v-row>    
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field v-model="Oda.LugarCalle" label="Calle*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field type="number" v-model="Oda.LugarNumInt" label="Número interior*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field type="number" v-model="Oda.LugarNumExt" label="Número exterior*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field v-model="Oda.LugarLatitud" label="Latitud*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field v-model="Oda.LugarLongitud" label="Longitud*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field v-model="Oda.LugarTramoCarretero" label="Tramo carretero*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field @keypress="letters($event)" v-model="Oda.LugarNombreAgente" label="Nombre del agente*"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-text-field v-model="Oda.LugarDescripcionCaptura" label="Descripción de la captura*"></v-text-field>
                        </v-col>
                    </v-row>
                    <v-btn
                        color="secondary"
                        class="mr-4"
                        block
                        @click="guardarOda()"
                    >
                        Guardar
                    </v-btn>
                </v-container>
                </v-form>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import requests from '../requests';
export default {
    data(){
        return {
            expanded: [],
            Sentencia: {
                CatSentenciaId: '',
                SentenciaFecha: '',
                SentenciaPenalidad: '',
                SentenciaReparacionDanio: '',
                SentenciaInhabilitacion: '',
                SentenciaTmpInhabilitacion: '',
            },
            Oda: {
                TipoOrdenId: '',
                OdaFechaOrdenLibrada: '',
                OdaNumOfcOrdenLibrada: '',
                OdaFechaTranscripcionOrden: '',
                OdaNumOfcTranscripcionOrden: '',

                LugarCalle: '',
                LugarNumInt: '',
                LugarNumExt: '',
                LugarLatitud: '',
                LugarLongitud: '',
                LugarTramoCarretero: '',
                LugarNombreAgente: '',
                LugarDescripcionCaptura: '',
            },

            Recurso: {
                RecursoOfrecimientoPruebas : '',
                RecursoCierreAudiencia: '',
                RecursoApelacion: '',
                RecursoExtensionPenal: '',
                RecursoSobreseimiento: '',
                RecursoObservacion: '',  
            },
            Delito: {
                Motivo: '',
                Incidentes: '',
                SituacionJuridicaId: '',
                FechaSituacionJuridica: '',
                TipoOrdenId: ''
            },
            dialogActor: false,
            menuOrdenLiberada: false,
            menuTranscripcionOrden: false,
            menuSentencia: false,
            dialogSentencia: false,
            dialogOda: false,
            menu: false,
            menuDelito: false,
            DelitoCausaPenalId: 0,
            dialogRecurso: false,
            dialogDelito: false,
            dialogAgraviados: false,
            search: '',
            ActoresCausaPenal: [],
            headers: [
                {text: 'Inculpado', value: 'inculpado', width: '250px'},
                {text: 'Delito ', value: 'DelitoDescripcion'},
                {text: 'Agraviado ', value: 'agraviado',width: '250px'},
                {text: 'Acciones ', value: 'action'},
            ],
            headersAgrav: [
                {text: 'Nombre', value: 'ActorNombre'},
                {text: 'Apellido Paterno', value: 'ActorApPaterno'},
                {text: 'Apellido Materno', value: 'ActorApMaterno'},
                {text: 'Delito ', value: 'DelitoDescripcion'},
                {text: 'Acciones del agraviado ', value: 'action'},
                
            ],
            Actor :{
                ActorDetenido: 'NO',
                ActorNombre: 'Felix',
                ActorApPaterno: 'Gallardo',
                ActorApMaterno: 'Mejia',
                ActorSexo: 'MASCULINO',
                ActorFechaNacimiento: '1995-06-06',
                ActorCalle: 'Por ahi',
                ActorNumExterior: '5',
                ActorNumInterior: '6',
                ActorLatitud: '+1231231',
                ActorLongitud: '+-232132',
            },
            agraviados: [],
            CatTipoOrden:[],
            CatSituacionJuridica: [],
            CatSentencias: [],
            ActorId: 0,
            validId: 0,
            iDelitos: [],
            iDelitoCausaPenalId: 0
        }
    },
    created(){

        requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
            .then(res => {
                    this.ActoresCausaPenal = res.data.rows;
                });
        requests.getCatTipoOrden(this.Usuario)
            .then(res => {
                    this.CatTipoOrden = res.data.rows.map(x => {
                        return {
                            text: x.TipoOrdenDescripcion,
                            value: x.TipoOrdenId
                        }
                    });
                });
        requests.getCatSituacionJuridica(this.Usuario)
            .then(res => {
                    this.CatSituacionJuridica = res.data.rows.map(x => {
                        return {
                            text: x.SituacionJuridicaDescripcion,
                            value: x.SituacionJuridicaId
                        }
                    });
                });
        requests.getCatSentencias(this.Usuario)
            .then(res => {
                    this.CatSentencias = res.data.rows.map(x => {
                        return {
                            text: x.SentenciaDescripcion,
                            value: x.SentenciaId
                        }
                    });
                });
                
    },
    computed: {
        Usuario(){
            return this.$store.state.Usuario;
        },
        CausaPenalId(){
            return this.$route.params.id   
        },
        accion(){
            return this.$route.params.accion;
        },
    },
    methods:
    {
        letters(event){
            //window.console.log("alv")
            var charCode = event.keyCode;
            if (charCode > 31 && (charCode < 65 || charCode > 90) &&
          (charCode < 97 || charCode > 122)) {
                event.preventDefault();
            }
            
        },
        save (date) {
            this.$refs.menu.save(date)
        },
        setDelito(item){
            this.DelitoCausaPenalId = 0;
            this.dialogDelito = true;
            this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            this.Delito = {
                Motivo: item.motivo,
                Incidentes: item.incidentes,
                SituacionJuridicaId: item.SituacionJuridicaId,
                FechaSituacionJuridica: item.fechaStcJuridica,
                TipoOrdenId: item.CPTipoOrdenId 
            }
        },
        setActor(item, tipoActor){
            this.DelitoCausaPenalId = 0;
            this.dialogActor = true;
            this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            
            if(tipoActor == 'inculpado'){
                this.ActorId = item.InculpadoId;
                this.Actor = {
                    ActorDetenido: item.InculpadoDetenido,
                    ActorNombre: item.InculpadoNombre,
                    ActorApPaterno: item.InculpadoApPaterno,
                    ActorApMaterno: item.InculpadoApMaterno,
                    ActorSexo: item.InculpadoSexo,
                    ActorFechaNacimiento: item.InculpadoFechaNacimiento,
                    ActorCalle: item.InculpadoCalle,
                    ActorNumExterior: item.InculpadoNumExterior,
                    ActorNumInterior: item.InculpadoNumInterior,
                    ActorLatitud: item.InculpadoLatitud,
                    ActorLongitud: item.InculpadoLongitud,
                }
            }else{
                this.ActorId = item.AgraviadoId;
                this.Actor = {
                    ActorNombre: item.AgraviadoNombre,
                    ActorApPaterno: item.AgraviadoApPaterno,
                    ActorApMaterno: item.AgraviadoApMaterno,
                    ActorSexo: item.AgraviadoSexo,
                    ActorFechaNacimiento: item.AgraviadoFechaNacimiento,
                    ActorCalle: item.AgraviadoCalle,
                    ActorNumExterior: item.AgraviadoNumExterior,
                    ActorNumInterior: item.AgraviadoNumInterior,
                    ActorLatitud: item.AgraviadoLatitud,
                    ActorLongitud: item.AgraviadoLongitud,
                }
            }
            
        },
        setSentencia(item){
            this.DelitoCausaPenalId = 0;
            this.dialogSentencia = true;
            this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            this.validId = item.SentenciaId;

            this.Sentencia = {
                CatSentenciaId: item.CatSentenciaId,
                SentenciaFecha: item.SentenciaFecha,
                SentenciaPenalidad: item.SentenciaPenalidad,
                SentenciaReparacionDanio: item.SentenciaReparacionDanio,
                SentenciaInhabilitacion: item.SentenciaInhabilitacion,
                SentenciaTmpInhabilitacion: item.SentenciaTmpInhabilitacion,
            }
        },
        setRecurso(item){
            this.DelitoCausaPenalId = 0;
            this.dialogRecurso = true;
            this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            this.validId = item.RecursoId;
            this.Recurso = {
                RecursoOfrecimientoPruebas : item.RecursoOfrecimientoPruebas,
                RecursoCierreAudiencia: item.RecursoCierreAudiencia,
                RecursoApelacion: item.RecursoApelacion,
                RecursoExtensionPenal: item.RecursoExtensionPenal,
                RecursoSobreseimiento: item.RecursoSobreseimiento,
                RecursoObservacion: item.RecursoObservacion,  
            }
        },
        setOda(item){
            this.DelitoCausaPenalId = 0;
            this.dialogOda = true;
            this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            this.validId = item.OdaId;
            this.Oda = {
                TipoOrdenId: item.TipoOrdenId,
                OdaFechaOrdenLibrada: item.OdaFechaOrdenLibrada,
                OdaNumOfcOrdenLibrada: item.OdaNumOfcOrdenLibrada,
                OdaFechaTranscripcionOrden: item.OdaFechaTranscripcionOrden,
                OdaNumOfcTranscripcionOrden: item.OdaNumOfcTranscripcionOrden,

                LugarCalle: item.LugarCalle,
                LugarNumInt: item.LugarNumInt,
                LugarNumExt: item.LugarNumExt,
                LugarLatitud: item.LugarLatitud,
                LugarLongitud: item.LugarLongitud,
                LugarTramoCarretero: item.LugarTramoCarretero,
                LugarNombreAgente: item.LugarNombreAgente,
                LugarDescripcionCaptura: item.LugarDescripcionCaptura,
            }
        },
        setAgraviados(){
            this.DelitoCausaPenalId = 0;
            this.agraviados = [];
            this.dialogAgraviados = true;
            //this.DelitoCausaPenalId = item.DelitoCausaPenalId;
            this.iDelitos = this.ActoresCausaPenal.map(x => {
                return {
                    text: `${x.DelitoCausaPenalId} ${x.InculpadoNombre} ${x.InculpadoApPaterno} ${x.InculpadoApMaterno} - ${x.DelitoDescripcion}`,
                    value: x.DelitoCausaPenalId
                }
                
            });
            /* requests.getAgraviados(this.Usuario, this.DelitoCausaPenalId)
                .then(res => {
                    this.agraviados = res.data.rows;
                }); */
        },
        guardarActor(){
            requests.guardarActor(this.Usuario, this.Actor, this.ActorId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el actor"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Actor actualizado correctamente'});
                            this.dialogActor = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                            //this.$router.push({path: `/causas_penales/${res.data.CausaPenalId}/registrar_actores`});
                        // requests.getAgraviados(this.Usuario, this.DelitoCausaPenalId)
                        //     .then(res => {
                        //         this.agraviados = res.data.rows;
                        //     });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
        },
        guardarDelito(){
            requests.guardarDelito(this.Usuario, this.Delito, this.DelitoCausaPenalId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                            this.dialogDelito = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                            //this.$router.push({path: `/causas_penales/${res.data.CausaPenalId}/registrar_actores`});
                        // requests.getAgraviados(this.Usuario, this.DelitoCausaPenalId)
                        //     .then(res => {
                        //         this.agraviados = res.data.rows;
                        //     });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
        }
        ,
        guardarSentencia(){
            if(this.accion == 'editar' && this.validId != null){
                requests.updateSentencia(this.Usuario, this.Sentencia, this.DelitoCausaPenalId)
                                .then(res => {
                                        if(res.data === undefined) {
                                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                                            return;
                                        }
                                        
                                        if(res.data.status == 'success'){
                                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                                            this.dialogSentencia = false;
                                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                                            .then(res => {
                                                    this.ActoresCausaPenal = res.data.rows;
                                                });
                                    }
                                    }).catch(err => {
                                        this.$store.dispatch('showAlert', {text: err});
                                    })
            }else{
                requests.guardarSentencia(this.Usuario, this.Sentencia, this.DelitoCausaPenalId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                            this.dialogSentencia = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
            
        },
        guardarRecurso(){
            if(this.accion == 'editar' && this.validId != null){
                requests.updateRecurso(this.Usuario, this.Recurso, this.DelitoCausaPenalId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                            this.dialogRecurso = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }else{
                requests.guardarRecurso(this.Usuario, this.Recurso, this.DelitoCausaPenalId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                            this.dialogRecurso = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
            
        },
        guardarOda(){
            if(this.accion == 'editar' && this.validId != null){
                requests.updateOda(this.Usuario, this.Oda, this.DelitoCausaPenalId)
                                .then(res => {
                                        if(res.data === undefined) {
                                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                                            return;
                                        }
                                        
                                        if(res.data.status == 'success'){
                                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                                            this.dialogOda = false;
                                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                                            .then(res => {
                                                    this.ActoresCausaPenal = res.data.rows;
                                                });
                                    }
                                    }).catch(err => {
                                        this.$store.dispatch('showAlert', {text: err});
                                    })
            }else{
                requests.guardarOda(this.Usuario, this.Oda, this.DelitoCausaPenalId)
                .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al actualizar el delito"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Delito actualizado correctamente'});
                            this.dialogOda = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
            }
            
        },
        
        submit(){
            //requests.agregarAgraviado(this.Usuario, this.Actor, this.DelitoCausaPenalId)
            //alert(this.iDelitoCausaPenalId);
            requests.agregarAgraviado(this.Usuario, this.Actor, this.iDelitoCausaPenalId)
                    .then(res => {
                        if(res.data === undefined) {
                            this.$store.dispatch('showAlert', {text: "Error al agregar actor a la causa penal"});
                            return;
                        }
                        
                        if(res.data.status == 'success'){
                            this.$store.dispatch('showAlert', {color: 'primary',text: 'Actor agregado correctamente'});
                            this.dialogAgraviados = false;
                            requests.getDelitosDeCausaPenal(this.Usuario, this.CausaPenalId)
                            .then(res => {
                                    this.ActoresCausaPenal = res.data.rows;
                                });
                            //this.$router.push({path: `/causas_penales/${res.data.CausaPenalId}/registrar_actores`});
                        // requests.getAgraviados(this.Usuario, this.DelitoCausaPenalId)
                        //     .then(res => {
                        //         this.agraviados = res.data.rows;
                        //     });
                       }
                    }).catch(err => {
                        this.$store.dispatch('showAlert', {text: err});
                    })
        }
        
    }

    
}
</script>