<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">Gestión de causas penales</h1>
        <v-card>
            <v-card-title>
            Causas penales
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar por av.previa, causa penal o nombre del inculpado"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
            <v-data-table
                :search="search"
                :headers="headers"
                :items="causas_penales"
                :items-per-page="10"
                :custom-filter="customFilter"
                class="elevation-1"
            >
            <template v-slot:item.action="{ item }">
                <v-icon
                    color="primary"
                    small
                    class="mr-2"
                    @click="$router.push({path: `/causas_penales/editar/${item.CausaPenalId}`})"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    :color="item.CausaPenalEstatus == 'VIGENTE' ? 'error' : 'primary'"
                    small
                    @click="setEstatus(item)"
                >
                    {{item.CausaPenalEstatus == 'VIGENTE' ?  'mdi-delete-variant' :'mdi-backup-restore' }}
                </v-icon>
            </template>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>
/* eslint-disable */
import requests from '../requests';
export default {
    data(){
        return {
            causas_penales: [],
            search: '',
            headers: [
                {
                    text: 'Causa penal',
                    value: 'CausaPenalDescripcion'
                },
                {
                    text: 'Averiguación previa',
                    value: 'CausaPenalAveriguacionPrevia'
                },
                {
                    text: 'Pedimento penal',
                    value: 'CausaPenalPedimentoPenal'
                },
                {
                    text: 'Estatus',
                    value: 'CausaPenalEstatus'
                },
                { text: 'Actions', value: 'action', sortable: false },
            ]
        }
    },
    methods: {
        setEstatus(item){
            let CausaPenalEstatus = item.CausaPenalEstatus== 'VIGENTE' ? 'ELIMINADA': 'VIGENTE';
            let CausaPenalId = item.CausaPenalId;
            requests.CausaPenalSetEstatus(this.Usuario, CausaPenalId, CausaPenalEstatus)
            .then(res => {
                requests.getCausasPenales(this.Usuario)
                .then(res => {
                    this.causas_penales = res.data.causas_penales;
                });
            });

        },
        customFilter (value, search, item) {
            if( value != null && search != null && typeof value === 'string'){
                var encontroInculpado = false;
                var nombre = 'a';
                for(var i = 0; i<=item.delitos.length; i++){
                    if(encontroInculpado == true) continue;
                    var delito = item.delitos[i];
                    if(delito == null) continue;
                    var inculpado = delito.inculpado;
                    nombre = inculpado.ActorNombre +' '+ inculpado.ActorApPaterno +' '+ inculpado.ActorApMaterno;

                    encontroInculpado = nombre.toString().indexOf(search) !== -1;
                }

                return value.toString().indexOf(search) !== -1 | encontroInculpado;

            }else{
                return false;
            }
                

      }
    },
    created(){
        requests.getCausasPenales(this.Usuario)
            .then(res => {
                this.causas_penales = res.data.causas_penales;
            });
    },
    computed: {
        Usuario(){
            return this.$store.state.Usuario;
        },
    },
}
</script>