
<template>
    <div>
        <h1 style="color: #38405F; margin-bottom: 1em;">Gestión de empleados</h1>
        <v-btn color="primary" style="margin-bottom: 1em;" @click="$router.push({path: '/usuarios/agregar/null'})">Agregar empleado</v-btn>
        <v-card>
            <v-card-title>
            Empleados
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
                <v-data-table
                    :search="search"
                    :headers="headers"
                    :items="usuarios"
                    :items-per-page="10"
                    class="elevation-1"
                >
                <template v-slot:item.action="{ item }">
                    <v-icon
                        color="primary"
                        small
                        class="mr-2"
                        @click="$router.push({path: `/usuarios/editar/${item.UsuarioId}`})"
                    >
                        
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        :color="item.UsuarioEstatus == 'Activo' ? 'error' : 'primary'"
                        small
                        @click="setEstatus(item)"
                    >
                        {{item.UsuarioEstatus == 'Activo' ? 'mdi-account-minus' : 'mdi-account-check' }}
                    </v-icon>
                </template>
                </v-data-table>
        </v-card>
    </div>
</template>

<script>
/* eslint-disable */
import requests from '../requests';
export default {
    data(){
        return {
            usuarios: [],
            search: '',
            headers: [
                {
                    text: 'Nombre de usuario',
                    value: 'UsuarioNick'
                },
                {
                    text: 'Nombre',
                    value: 'UsuarioNombre'
                },
                {
                    text: 'Apellido paterno',
                    value: 'UsuarioApPaterno'
                },
                {
                    text: 'Apellido materno',
                    value: 'UsuarioApMaterno'
                },
                {
                    text: 'Estatus',
                    value: 'UsuarioEstatus'
                },
                {
                    text: 'Departamento',
                    value: 'departamento.DepartamentoNombre'
                },
                {
                    text: 'Rol',
                    value: 'rol.RolDescripcion'
                },
                { text: 'Actions', value: 'action', sortable: false },
            ]
        }
    },
    methods: {
        setEstatus(item){
            let UsuarioEstatus = item.UsuarioEstatus== 'Activo' ? 'Inactivo': 'Activo';
            let UsuarioId = item.UsuarioId;
            requests.usuarioSetEstatus(this.Usuario, UsuarioId, UsuarioEstatus)
            .then(res => {
                requests.listaUsuarios(this.Usuario)
                    .then(res => {
                        this.usuarios = res.data;
                    });
            });

        }
    },
    created(){
        requests.listaUsuarios(this.Usuario)
            .then(res => {
                this.usuarios = res.data;
            });
    },
    computed: {
        Usuario(){
            return this.$store.state.Usuario;
        },
    },
}
</script>