<template>
    <v-app>
            <v-navigation-drawer expand-on-hover permanent app width="350">
                <template v-slot:prepend>
                    <v-list>
                    <v-list-item>
                        <v-list-item-avatar>
                        <v-img :src="require('../assets/fge.png')"></v-img>
                        </v-list-item-avatar>
                    </v-list-item>

                    <v-list-item
                        link
                        two-line
                    >
                        <v-list-item-content>
                            <v-list-item-title class="title">Rol </v-list-item-title>
                            <v-list-item-subtitle>{{Usuario.Rol.RolDescripcion}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    </v-list>
                </template>

                <v-divider></v-divider>

                <v-list
                    nav
                    dense
                >
                    <v-list-item v-if="Usuario.Rol.RolId==1" @click="goRouter('/usuarios/')">
                        <v-list-item-icon>
                            <v-icon>mdi-account-group</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Gestión de empleados</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="Usuario.Rol.RolId==1 || Usuario.Rol.RolId==2" @click="goRouter('/causas_penales/agregar/null')">
                        <v-list-item-icon>
                            <v-icon>mdi-plus</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Agregar causa penal</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="Usuario.Rol.RolId==1 || Usuario.Rol.RolId==2" @click="goRouter('/causas_penales/')">
                        <v-list-item-icon>
                            <v-icon>mdi-folder-alert</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Buscar causa o averiguación para su gestión</v-list-item-title>
                    </v-list-item>
                    <v-list-item link @click="goRouter('/reportes/')">
                        <v-list-item-icon>
                            <v-icon>mdi-file-document-box-multiple-outline</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Reportes</v-list-item-title>
                    </v-list-item>
                    <v-list-item link @click="logout();" >
                        <v-list-item-icon>
                            <v-icon style="color: #C62727">mdi-alert-circle</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title  style="color: #C62727">Cerrar sesión</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        <v-content>
        <!-- Provides the application the proper gutter -->
        <v-container fluid>
            <!-- If using vue-router -->
            <v-alert
                :value="alert.show"
                border="left"
                colored-border
                :color="alert.color"
                elevation="2"
                dismissible
                >
               {{alert.text}}
            </v-alert>
            <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
    
</template>
<script>
export default {
    methods:
    {
        goRouter(path){
            this.$router.push({path: path});
        },
        logout(){

            this.$store.dispatch('logout');
        }
    },
    computed: {
        alert(){
            //window.console.log(this.$store.state.alert)
            return this.$store.state.alert;
        },
        Usuario(){
            return this.$store.state.Usuario;
        },
    }
}
</script>
