<template>
    <v-container fill-height  >
         <v-card
            outlined
            class="mx-auto"
            style="width: 70%; padding: 2em 2em 2em 2em;"
        >
            <v-img
            class="mx-auto"
            :src="require('../assets/fge.png')"
            aspect-ratio="1"
            max-width="150"
            max-height="150"
            ></v-img>
            <h2>Sistema de control de procesos</h2>
            <h3 style="margin-bottom:2em;">Inicio de sesión</h3>
                <v-form
                    ref="form"
                    v-model="validForm"
                    
                    :lazy-validation="true"
                >
                <v-text-field
                    outlined
                    v-model="UsuarioNick"
                    label="Nombre de Usuario"
                    :rules="[v => !!v || 'Campo requerido']"
                    required
                ></v-text-field>

                <v-text-field
                    outlined
                    v-model="UsuarioContrasenia"
                    label="Contraseña"
                    required
                    :rules="[v => !!v || 'Campo requerido']"
                    :append-icon="verContrasenia ? 'mdi-eye-off' : 'mdi-eye'"
                    :type="verContrasenia ? 'text' : 'password'"
                    name="input-10-1"
                    hint="At least 8 characters"
                    counter
                    @click:append="verContrasenia = !verContrasenia"
                ></v-text-field>
                <v-btn
                    :disabled="!validForm"
                    color="secondary"
                    class="mr-4"
                    outlined
                    block
                    @click="submit"
                >
                    Iniciar
                </v-btn>
                </v-form>
                <v-alert
                    v-if="error != ''"
                    style="margin-top: 2em;"
                    border="left"
                    colored-border
                    color="error"
                    elevation="2"
                    >
                   {{error}}
                </v-alert>
        </v-card>
    </v-container>
   
</template>
<script>
import requests from '../requests';
export default {
    name: 'Login',
    data(){

        return{
            validForm: false,
            verContrasenia: false,
            UsuarioNick: '',
            UsuarioContrasenia: '',
            NameRules: [v => !!v || 'Nombre es requerido'],
            error: ''
        }
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                requests.login(this.UsuarioNick, this.UsuarioContrasenia).then(res => {
                    if(res.status == null){
                        this.error = "Error al iniciar sesión, vuelva a intentar.";
                        return;
                    }
                    if(res.status == 200){
                        this.$store.dispatch('login', res.data);
                        this.$router.push('/');
                    }
                })
            }
        }
    }
}
</script>   